{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "react/prop-types": [2, {"ignore": ["children"]}],
    "eqeqeq": [2, "smart"],
    "id-length": [0],
    "no-loop-func": [0],
    "new-cap": [2, {"capIsNew": false}],
    "no-shadow": [1]
  }
}
