{
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "react/prop-types": [2, {ignore: ["children"]}],
    "eqeqeq": [2, "smart"],
    "no-loop-func": [0]
  }
}
